* {
    background-color: black;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    /* Para apilar los elementos verticalmente */
    align-items: center;
    /* Centra los elementos horizontalmente */
    text-align: center;
    /* Por si acaso el contenido interno necesita centrarse */
}

h2 {
    color: yellow;
    font-size: 30px;
    display: block;
}

.logo {
    width: 300px;
    height: auto;
        
}