* {
    background-color: black;
    text-align: center;
}

:root {
    --animation-duration: 5s;
    --animation-delay: 10s;
}

div {
    display: flex;
    flex-direction: column;
    /* Para apilar los elementos verticalmente */
    align-items: center;
    /* Centra los elementos horizontalmente */
    text-align: center;
    /* Por si acaso el contenido interno necesita centrarse */
}

h2 {
    /*color: yellow;*/
    font-size: 20px;
    display: block;
}

.logo {
    width: 300px;
    height: auto;
        
}

.logo {
    display: inline-block;
    margin: 0 0.5rem;
    
    animation: backInLeft;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s;
    /* don't forget to set a duration! */
}

.work {
    font-family: "Bungee Spice", sans-serif, cursive;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin: 0 0.5rem;
    
    animation: bounceInRight;
        /* referring directly to the animation's @keyframe declaration */
    animation-duration: 6s;
        /* don't forget to set a duration! */
}

.forms {
    display: inline-block;
    margin: 0 0.5rem;
    
    animation: bounceInUp;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 6s;
    /* don't forget to set a duration! */
    }

.arueda {
    width: 60px;
    height: auto;
    background-color: black;
    display: inline-block;
    margin: 0 0.5rem;
    
    animation: backInLeft;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 10s;
    /* don't forget to set a duration! */
}

.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-links { 
    
    
}